@media(max-width:1081px){div {font-size: 2rem}}

div {
    
    

}
h1{
    background-color: aquamarine;
}

.main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    background-color: aquamarine;
    order: 0;
    text-align: center;
    
    font-family: 'Girassol', serif; color: purple ;
position: relative;}

.box{position: relative;width: 50%;border: 10px solid palevioletred; padding: 10px;margin: 20px}

#clowntitle>h1 {
    font-family: 'Monoton', sans-serif;
    color: rgb(160, 137, 81);
    
    background-color: rgb(109, 228, 228);
}

#clownstory {
    flex-direction: column;
}

#policeriots {
    font-family: 'Special Elite', sans-serif;
}

#policestory {
    
    flex-direction: column;
}

#box1 {
    border: 10px solid rgb(141, 58, 144);
    position: relative;
    padding: 5%;
}

#box2{
    border: 10px solid rgb(135, 182, 89);
    position: relative;
    padding: 5%;
}

#box3{
    border: 10px solid rgb(233, 233, 30);
    position: relative;
    padding: 5%;
}

#logo{
    order: 1;
    grid-row: span 2;
    right: 0%;
    border-radius: 50px;
    margin: 10px;
}

#Krusty {
    position: fixed;
    top: 20%;
    right: 15%;
    height: 100px;
    z-index: -1;
}

#tardigrade {
    position: fixed;
    top: 20%;
    right: 15%;
    height: 10%;
    
    z-index: -1;
}

#title {
    
    
}

#fact{order: 2;
    grid-column: span 2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.title-container {
    display: grid;
    width: 100vw;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 2fr 1fr 1fr ;
}

.container {
    display: flex;
}